* {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
  font-family: "Figtree", sans-serif;
}
body {
  line-height: 1;
  background-color: #f4d04e;
}
.container {
  margin: auto;
  margin-top: 218px;
  border-radius: 16px;
  box-shadow: 16px 16px 0px 0px #121212;
  width: 375px;
  height: 518px;
  border: 1px solid #121212;
  padding: 24px;
  background-color: #ffffff;
}
main {
  width: 100%;
}
.courseGraphic img {
  width: 336px;
  height: 200px;
  border-radius: 10px;
}
button {
  font-size: 0.85rem;
  background-color: #f4d04e;
  border: none;
  padding: 4px 12px;
  font-weight: 800;
  border-radius: 4px;
  width: 89px;
  height: 29px;
  margin-top: 24px;
  cursor: pointer;
}
button:hover {
  background-color: #121212;
  color: #f4d04e;
}
.courseDate {
  font-size: 1rem;
  margin-top: 12px;
}
.courseTitle h2 {
  color: #121212;
  font-size: 1.5rem;
  width: 100%;
  font-weight: 800;
  margin-top: 12px;
}
.courseDescription p {
  color: #808080;
  font-size: 1rem;
  margin-top: 12px;
  line-height: 1.5rem;
}
.courseCreator {
  display: flex;
  width: 100%;
  height: 32px;
  margin-top: 32px;
}
.courseCreator img {
  width: 32px;
  height: 32px;
  justify-content: center;
  margin-right: 5px;
}
.courseCreator p {
  font-weight: 800;
  font-size: 1rem;
  align-self: center;
}
footer {
  display: flex;
  margin: 30px auto;
  width: 375px;
  height: 400px;
  text-align: center;
}
